
<div class="w-50 p-5 text-center">
    <h1 class="text-center mt-5 " style="color: #00315c">Sign Up</h1>
    
    <form [formGroup]="registerForm" (ngSubmit)="register()" style="background-color: rgb(138 182 205);border-radius: 20px;" action=""
        class="mt-2 p-3 container text-center border">
        <div class="p-2 mt-2">
            <input formControlName="acno" id="a1" name="acno" type="text" style="border: none;" class="form-control mt-2 p-2" placeholder="Account number">
        </div> 
        <div *ngIf="(this.registerForm.get('acno')?.errors)&&(this.registerForm.get('acno')?.touched)">
            <p class="text-danger">must contain numbers only</p>
        </div>
    
        <div class="p-2 mt-2">
            <input formControlName="uname" id="u1" name="uname" type="text" style="border: none;" class="form-control mt-2 p-2" placeholder="Username">
        </div>
        <div *ngIf="(this.registerForm.get('uname')?.errors)&&(this.registerForm.get('uname')?.touched)">
            <p class="text-danger">must contain characters only</p>
        </div>
        <div class="p-2 mt-2">
            <input formControlName="psw" id="p1" name="password" type="password" class="form-control mt-2 p-2" placeholder="Password">
        </div>
        <div *ngIf="(this.registerForm.get('psw')?.errors)&&(this.registerForm.get('psw')?.touched)">
            <p class="text-danger">must contain characters and numbers only</p>
        </div>
        <div class="p-2 mt-2">
            <input formControlName="cpsw" id="p2" name="password" type="password" class="form-control mt-2 p-2" placeholder="Confirm Password">
        </div>
        <div *ngIf="pswCheck">
            <p class="text-danger">password doesn`t match</p>
        </div>
        <button type="submit" class="btn btn-info mt-4 p-2">Sign up</button>

    </form>
    </div> 
    
